body {
    background-color:beige;
}

main {
    font-family:'Franklin Gothic Medium';
    font-size:medium;
    color: black;
    text-align: center;
}

h1 {
    text-align: center; 
    color: saddlebrown;

}

img {
    width: 30%;
    height: 30%;

}