body {
    background-color:beige;
}

main {
    font-family:'Franklin Gothic Medium';
    font-size:medium;
    color: black;
    text-align: center;
}

h1 {
    text-align: center; 
    color: saddlebrown;

}

img {
    width: 30%;
    height: 30%;

}

footer {
    text-align: center;
}

[href="#"]:hover {
    text-decoration: underline;
    color: orange;
}

[href="#about"]:hover {
    text-decoration: underline;
    color: orange;
}

[href="#contact"]:hover {
    text-decoration: underline;
    color:orange;
}

ul {
    
    list-style-type: none;
}